# Dependencies
node_modules/
package-lock.json

# Environment & Private Keys
.env
.env.local
.env.*.local
*.pem
*.key

# Ignore backend node files and SQLite from Vercel static deployments
server_backend/
*.sqlite
*.sqlite3
*.db
*.log

# OS Files & IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
